//
// Auth colours & wrappers
// --------------------------------------------------
.instareal-login,
.instareal-signup,
.instareal-forgotten,
.instareal-reset {
  color: $midgrey;
  background: $darkgrey;

  main {
    padding-top: 15px;
  }

  input {
    line-height: 1.4em;
    font-size: 1.1em;
    font-weight: 200;
    border: none;
    color: #fff;
    background: lighten($darkgrey, 10%);
    box-shadow: none;
    margin: 0;
    position: relative;
    transition: background ease 0.25s;

    &:focus {
      border: none;
      background: lighten($darkgrey, 15%);
    }
  }

  // Changes the default Webkit yellow autofill colour to grey
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $lightgrey inset !important;
  }
}


.login-box,
.signup-box,
.forgotten-box,
.reset-box {
  display: table;
  height: 90%;
  margin: 0 auto;
  padding: 0;
  max-width: 264px;
  text-align: center;
}


.login-form {
  color: lighten($midgrey, 15%);
  display: table-cell;
  vertical-align: middle;
  max-width: 264px;

  .email-wrap,
  .password-wrap {
    position: relative;
    margin: 0 0 5px 0;
    float: left;
    margin-bottom: 1em;
  }

  .email-wrap {
    margin-right: 0;
  }

  .email,
  .password {
    display: inline-block;
    clear: both;
    padding: 8px 0 8px 8px;
    width: 264px;
  }

  h1 {
    color: white;
    font-weight:300;
  }

  button {
    height: 37px;
    margin: 0;
    width: 100%;
    margin-bottom: 1em;
  }

  .meta {
    clear: both;
    color: $midgrey;
  }

  a {
    color: darken($midgrey, 10%);
    font-size: 0.9em;

    &:hover {
      color: lighten($midgrey, 5%);
      text-decoration: none;
    }
  }
}//.login-form

.signup-form,
.reset-form {
  max-width: 280px;
  color: lighten($midgrey, 15%);
  display: table-cell;
  vertical-align: middle;

  @media (max-width: 630px) {
    width: 264px;
  }

  .password-wrap {
    position: relative;
    margin: 0 0 1em 0;
    background: lighten($darkgrey, 10%);
    float: left;
    display: table;
  }

  input {
    padding: 8px 10px;
    width: 264px;
  }

  .name-wrap {
    position: relative;
    border-radius: 2px;
  }

  .name {
    border-radius: 2px;
  }

  .email-wrap {
    position: relative;
    border-radius: 2px;
  }

  .email {
    border-radius: 2px;
  }

  .password-wrap {
    position: relative;
    border-radius: 2px;
  }

  .password {
    border-radius: 2px;
  }

  button {
    width: 100%;
    height: 36px;
    margin: 0 0 1em 0;
    padding: 0.5em 1.37em;
    min-height: 30px;
    min-width: 80px;
    box-shadow: rgba(255,255,255,0.15) 0 1px 0 inset;
  }
}//.signup-form, .reset-form

//
// Page
// --------------------------------------------------
.instareal-setup {
  color: $midgrey;
  background: $darkgrey;

  main {
    padding-top: 15px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    top: 0;
  }
}


//
// Wrapper
// --------------------------------------------------
// Centered in the middle of the screen

.setup-box {
  display: table;
  max-width: 500px;
  height: 90%;
  margin: 0 auto;
  padding: 0;
}


//
// Form
// --------------------------------------------------

.setup-form {
  max-width: 530px;
  color: lighten($midgrey, 15%);
  border-radius: 2px;
  padding: 15px;

  header {
    margin-bottom: 30px;
  }

  label {
    color: $lightgrey;
    font-weight: 300;
    width: 100%;
  }

  .form-group input {
    padding: 7px;
    border: none;
    color: #fff;
    background: lighten($darkgrey, 10%);
    transition: background 0.25s ease;

    &:focus {
      border:none;
      background: lighten($darkgrey, 15%);
    }
  }

  // Chrome auto-fill style
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $lightgrey inset !important;
  }

  h1 {
    margin: 0;
    font-weight: 300;
    font-size: 26px;
    letter-spacing: 0;
    color: $lightgrey;
  }

  h2 {
    margin: 6px 0 0 0;
    padding: 0;
    border: none;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0;
    color: $midgrey;
  }

  p {
    font-size: 12px;
    line-height: 1.4em;
    color: $midgrey;
  }

  footer {
    margin: 30px 0 5px 0;
  }

  .btn-blue {
    width: 100%;
    padding: 0.9em 1.8em;
    font-size: 13px;
  }
}
