<section class="dash-content">
  <section class="content">

    <div class="tag-wrap">
      <span class="input-icon icon-instagram">
        {{input class="hashtag" type="text" placeholder="#InstagramTag" name="tag" autocapitalize="off" autocorrect="off" value=model.tag}}
      </span>
    </div>

    <!--<button class="btn btn-blue" type="submit" {{action "linkToInstgram"}}>Link-->
      <!--to Instagram-->
    <!--</button>-->
  </section>
</section>

