@font-face {
  font-family: 'Icons';
  src: url('/fonts/fontawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//
// Base styled for icons
// --------------------------------------------------
%icon-base {
  font-family: "Icons";
  font-weight: normal;
  font-style: normal;
  vertical-align: -3%;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//
// The Icon (before) Mixin
// --------------------------------------------------
@mixin icon($char, $size: '', $color: '') {
  &:before {
    @extend %icon-base;

    content: '#{$char}';
    @if $size != '' {
      font-size: $size;
    }
    @if $color != '' {
      color: $color;
    }
    @content;
  }

  &:hover {
    text-decoration: none;
  }
}

//
// The Icon (after) Mixin
// --------------------------------------------------
@mixin icon-after($char, $size: '', $color: '') {
  &:after {
    @extend %icon-base;

    content: '#{$char}';
    @if $size != '' {
      font-size: $size;
    }
    @if $color != '' {
      color: $color;
    }
    @content;
  }

  &:hover {
    text-decoration: none;
  }
}

//
// Icon Variables
// --------------------------------------------------
$i-lock: \f023;
$i-mail: \f1fa;
$i-person: \f007;
$i-rightarrow: \f054;
$i-money: \f0d6;
$i-instagram: \f16d;

//
// Icon Class Styles
// --------------------------------------------------
[class*=icon-] {
  &:before {
    @extend %icon-base;
  }

  &:hover {
    text-decoration: none;
  }
}

//
// Icon Classes
// --------------------------------------------------
.icon-lock:before {
  content: '#{$i-lock}';
}

.icon-mail:before {
  content: '#{$i-mail}';
}

.icon-person:before {
  content: '#{$i-person}';
}
.icon-money:before {
  content: '#{$i-money}';
}
.icon-instagram:before {
  content: '#{$i-instagram}';
}
